<div>
    <table-component [bodyTd]="clients" [headersTr]="headers" (delete)="deleteClient($event)"  (edit)="editClient($event)"></table-component>
</div>

<div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">{{labelModal}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetModal()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="containterAddClient">
                        <span class="p-float-label">
                            <input  type="text" pInputText formControlName="name" id="name" class="widthInput" />
                            <label htmlFor="name">Nombre</label>
                        </span>
                        <span class="p-float-label">
                            <input type="text" pInputText formControlName="lastName" id="lastName" />
                            <label htmlFor="lastName">Apellido</label>
                        </span>
                        <span class="p-float-label">
                            <input type="text" pInputText formControlName="identification" id="identification" class="widthInput" />
                            <label htmlFor="identification">Identificación</label>
                        </span>
                        <span class="p-float-label">
                            <input type="text" pInputText formControlName="cuil" id="cuil" class="widthInput" />
                            <label htmlFor="cuil">CUIL</label>
                        </span>
                        <span class="p-float-label">
                            <input type="text" pInputText formControlName="city" id="city" class="widthInput" />
                            <label htmlFor="city">Dirección</label>
                        </span>
                        <span class="p-float-label">
                            <input type="text" pInputText formControlName="phoneNumber" id="phoneNumber" class="widthInput" />
                            <label htmlFor="phoneNumber">Numero de telefono</label>
                        </span>
                        <span class="p-float-label">
                            <input type="text" pInputText formControlName="birthdate" id="birthdate" class="widthInput" />
                            <label htmlFor="birthdate">Fecha de nacimiento</label>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer"> 
              <button type="button" class="btn btn-secondary" #buttonClose data-bs-dismiss="modal" (click)="resetModal()">Cerrar</button>
              <button type="button" class="btn btn-primary" (click)="saveClient()">Guardar</button>
            </div>
          </div>
        </div>
      </div>
</div>