<div>
    <table-component [bodyTd]="suppliers" [headersTr]="headers" (delete)="deleteSuppliers($event)"  (edit)="editSuppliers($event)"></table-component>
</div>


<div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">{{labelModal}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="containterAddSupplier">
                        <span class="p-float-label">
                            <input  type="text" formControlName="name" id="name" class="widthInput" />
                            <label htmlFor="name">Proveedor</label>
                        </span>
                        <span class="p-float-label">
                            <input type="text" formControlName="categoryAfip" id="categoryAfip" />
                            <label htmlFor="categoryAfip">Categoria Afip</label>
                        </span>
                        <span class="p-float-label">
                            <input type="text" formControlName="categoryProducts" id="categoryProducts" class="widthInput" />
                            <label htmlFor="categoryProducts">Categoría productos</label>
                        </span>
                        <span class="p-float-label">
                            <input type="text" formControlName="cuit" id="cuit" class="widthInput" />
                            <label htmlFor="cuit">CUIL</label>
                        </span>
                        <span class="p-float-label">
                            <input type="text" formControlName="city" id="city" class="widthInput" />
                            <label htmlFor="city">Dirección</label>
                        </span>
                        <span class="p-float-label">
                            <input type="text" formControlName="phoneNumber" id="phoneNumber" class="widthInput" />
                            <label htmlFor="phoneNumber">Numero de telefono</label>
                        </span>
                    </div>
                </form>
            </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" #buttonClose data-bs-dismiss="modal" (click)="resetModal()">Cerrar</button>
              <button type="button" class="btn btn-primary" (click)="savedSupplierUpdate()">Guardar</button>
            </div>
          </div>
        </div>
      </div>
</div>