.widthInput{
    width: 300px !important;
}
.containterSearchProduct{
    display: flex;
    margin: 23px;
    grid-gap: 32px;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin: 50px;
}
    